/* 
Make the width of elements include padding values, so that when 
you set a specific width the padding goes inwards 
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* All variables should be defined in the :root component */
:root {
    /* Colors */
    --color-background: #202020;
    --color-on-background: #FFFFFF;
    --color-on-background-reverse: #000;
    --color-container: #636363;
    --color-primary: #FF6700;
    --color-input-placeholder: #ffffff80;

    /* Paddings */
    --frame-padding: 4rem;
    
    /* Sizes */
    --border-width: 2px;
    --border-radious: 8px;
    --blur-size: 8px;
    --font-size-small: 12px;
    --font-size-normal: 14px;
    --font-size-header-title: 48px;
    --font-size-header-subtitle: 16px;
    --font-size-content-title-big: 64px;
    --font-size-content-title-small: 48px;
    --font-size-navigation: 20px;
    --font-size-footer: 9px;
}

/* Font definition and import */
@font-face {
    font-family: "Sansation Light";
    font-weight: 400;
    src: url("./res/font/Sansation_Light.ttf")
}

@font-face {
    font-family: "Sansation";
    font-weight: 400;
    src: url("./res/font/Sansation_Regular.ttf")
}

/* Basic setup */
html,
body {
    height: 100%;
}

/* Style */
html {
    background-color: var(--color-background);
    color: var(--color-on-background);
}

body {
    /* Text */
    font-family: "Sansation Light";
    font-size: var(--font-size-normal);
    font-weight: 300;
    text-align: justify;
    
    padding: 1rem;
    padding-top: 0;
}

img {
    max-width: 100%;
}

ul {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: var(--color-on-background);
}

b {
    font-family: "Sansation";
    font-weight: bold;
}

button {
    padding: 0.5rem 1rem;
    border: none;

    /* If we don't set this, the button will appear slightly smaller */
    font-size: inherit;
}

footer {
    font-size: var(--font-size-footer);
    opacity: 50%;
    padding: 1rem;
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: var(--font-size-small);
    opacity: 85%;
}

/* Header */
header {
    position: fixed;
    z-index: 3;
    /* width: calc(100% - 2rem); */
    background-color: var(--color-background);
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 0;
    margin-bottom: 1rem;
    gap: 1rem;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--color-primary);

    text-align: start;
}
header h1 {
    font-size: 2rem;
    font-weight: 300;
}
header p {
    font-size: 0.75rem;
    font-weight: 300;
    opacity: 70%;
}

#hamburger-menu {
    /* Make the clickable area bigger for touch screens */
    padding: 1rem;
}
#hamburger-menu-icon>* {
    /* Make the transition to the original state when the menu loses
       the "active" class */
    transform-origin: center center;
    transition: 500ms ease all;
}
#hamburger-menu-icon.active>:nth-child(1) {
    /* Make the first line invisible */
    opacity: 0;
    transition: opacity 500ms ease;
}
#hamburger-menu-icon.active>:nth-child(2) {
    /* Rotate the second line to create the "X" */
    transform-origin: center center;
    transform: rotate(45deg);
    transition: transform 500ms ease;
}
#hamburger-menu-icon.active>:nth-child(3) {
    /* Rotate the third line to create the "X" */
    transform-origin: center center;
    transform: rotate(-45deg);
    transition: transform 500ms ease;
}
#hamburger-menu-icon.active>:nth-child(4) {
    /* Make the fourth line invisible */
    opacity: 0;
    transition: opacity 500ms ease;
}

nav {
    /* Hide the nav when the menu is closed. */
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms;

    position: fixed;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    z-index: 2;
    
    background-color: var(--color-background);
    padding: 1rem;
    padding-top: 4rem;

    transition-property: display opacity;
    transition-duration: 500ms;
    transition-behavior: allow-discrete;
}
nav.active {
    /* Show the nav when the menu is active. */
    opacity: 1;
    visibility: visible;
}
/* TODO: Transform the hamburger menu in an 'X' for closing the nav */
nav>ul>li {
    margin-bottom: 2rem;

    font-size: var(--font-size-navigation);
    font-weight: 300;
}

main>section:not(:last-child) {
    margin-bottom: 6rem;
}

.content {
    margin-top: 6rem;
}

.primary-title {
    font-family: "Sansation";
    font-size: var(--font-size-content-title-big);
    text-align: start;
    font-weight: 400;
}

.secondary-title {
    text-align: start;
    font-family: "Sansation";
    font-size: var(--font-size-content-title-small);
    font-weight: 400;
    margin-bottom: 2rem;
}

.content-container {
    margin-bottom: 1.5rem;
}
.content-container>*:not(:last-child) {
    margin-bottom: 2rem;
}
.content-container p {
    line-height: 150%;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.primary-button {
    color: var(--color-on-background-reverse);
    font-family: "Sansation";
    font-weight: 700;
    padding: 8px 16px;
    border: none;
    border-radius: var(--border-radious);
    background: linear-gradient(90deg, #E3E3E3 0%, #E5E5E5 65%, #FFF 100%);
    box-shadow: 0px 0px var(--blur-size) 0px rgba(255, 255, 255, 0.25);
}
/* .primary-button:hover {
    background: linear-gradient(90deg, #c7c7c7 0%, #d4d4d4 65%, #ededed 100%);
} */
.primary-button:active {
    box-shadow: inset 0px 0px 16px rgba(122, 122, 122, 0.787);
}

.secondary-button {
    color: var(--color-on-background);
    border-radius: var(--border-radious);
    background: linear-gradient(90deg, #555 0%, #555 65%, #636363 100%);
}
/* .secondary-button:hover {
    background: linear-gradient(90deg, #4a4a4a 0%, #4a4a4a 65%, #464646 100%);
} */
.secondary-button:active {
    box-shadow: inset 0px 0px 16px rgba(56, 56, 56, 0.787);
}

.tech-stack-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tech-stack-container section h3 {
    font-size: var(--font-size-small);
    font-weight: 300;
    margin-bottom: 0.25rem;
}

.tech-stack-element {
    border-style: solid;
    border-color: var(--color-primary);
    border-radius: 8px;
    border-width: 1px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.tech-stack-element ul {
    font-size: var(--font-size-small);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    list-style: none;
}
.icon-container>li {
    width: 3.25rem;
}
.icon-container>li>figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container.tech-stack-element {
    flex-direction: row;
    padding-top: 1rem;
}

.skill-container {
    opacity: 70%;
}
#android .skill-container {
    display: flex;
    text-align: start;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}
form>label {
    margin-bottom: 0.25rem;
}
form>input:not(.primary-button), form>textarea {
    font-family: "Sansation Light";
    font-size: var(--font-size-normal);
    border: none;
    border-radius: 8px;
    padding: 12px 8px;
    background-color: var(--color-container);
    margin-bottom: 1rem;
    color: var(--color-on-background);
}
form>input:not(.primary-button):focus, form>textarea {
    outline: none;
    caret-color: var(--color-on-background);
}
form>input::placeholder, form>textarea::placeholder {
    color: var(--color-input-placeholder);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        /* Remove smooth scroll if the user could be harmed
           by the visual effect */
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 339px) {
    .content {
        /* Put more padding from the top so that when the
           header text wraps the content can still be seen
           correctly */
        margin-top: 9rem;
    }
}

/* @media only screen and (max-width: 323px) {

} */